think {
  display: block;
  color: gray;
  font-size: smaller;
  padding-left: 12px;
  border-left: 1px solid gray;
  padding-bottom: 12px;
}
think::before {
  content: "Thoughts";
  width: 66px;
  display: block;
  height: 20px;
  font-size: 10px;
  color: black;
  border: 1px solid #a9a9a9;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 0px;
  border-radius: 7px;
  background: #e3e3e3;
  margin-top: 12px;
  text-align: center;
}
